
 .container {
    width: 1230px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative; 
    z-index: 1; 
}

header {
    background-color: #91AB86;
    position: fixed;
    top: 0;
    height: 55px;
    padding-top: 12px;
    z-index: 10;
    width: 100vw;
}

nav ul {
    display: flex;
}

nav li:not(:last-child) {
    margin-right: 170px;
}

.header-menu a {
    color: #692237;
    font-family: 'Cormorant Unicase';
    font-size: 32px;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
}

.header-menu a:hover {
    transform: scale(1.1); 
    color: #F0EFD4; 
}

.home {
    background-color: #EDB8B8;
    padding-top: 95px;
    padding-left: 5px;
    padding-right: 5px;
    min-height: 950px;
    position: relative;
    z-index: -2;
}

.catalog_title {
    display: flex; 
    justify-content: center; 
    margin-bottom: 20px; 
}

.catalog_title h1 {
    color: #692237;
    font-family: 'Rhythm and Jazz Decor';
    text-align: center; 
    font-size: 96px;
    letter-spacing: -5%; 
}

.block3 {
    display: flex; 
    flex-direction: row; 
    align-items: flex-start;
    position: relative;
}

.button_1, .button_2, .button_3, .next-button {
    position: relative; 
    display: inline-block; 
    text-align: left; 
    color: #692237; 
    text-decoration: none; 
    padding-left: 18px;
    transition: transform 0.3s ease;
    z-index: 1; 
    pointer-events: auto;
}

.button_1 img, .button_2 img, .button_3 img {
    width: 100%; 
    height: auto; 
    display: block; 
}

.button_1 p.title, .button_2 p.title, .button_3 p.title,
.button_1 p.description, .button_2 p.description, .button_3 p.description {
    position: absolute; 
    left: 0; 
    right: 0; 
    margin: 0; 
    padding: 0 10px; 
}

.button_1 p.title, .button_2 p.title, .button_3 p.title {
    font-size: 20px; 
    bottom: 65px; 
    left: 25px;
}

.button_1 p.description, .button_2 p.description, .button_3 p.description {
    font-size: 16px; 
    bottom: 20px; 
    line-height: 1.2;
    left: 25px;
}

.button_1:hover, .button_2:hover, .button_3:hover {
    transform: scale(1.05);
}

.next-button {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    color: #692237; 
    text-decoration: none;  
    margin-left: 50px; 
    margin-top: 175px;
    transition: transform 0.3s ease; 
}

.next-button p {
    font-size: 20px; 
    font-family: 'Cormorant Unicase';
}

.next-button:hover {
    transform: scale(1.05); 
}

.next-button img {
    width: 43px;
    height: auto;
    margin-left: 8px; 
}









